<section id="main">
  <header>
    <span class="avatar"><%= image_tag('thai-food') %></span>
    <h1><%= @restaurant.title %></h1>
    <p><%= @restaurant.description %></p>
    <p><%= @restaurant.address %></p>
  </header>
  <!-- <hr /> -->
  <!-- <form method="post" action="#"> -->
  <!--   <div class="field"> -->
  <!--     <input type="checkbox" id="human" name="human" /><label for="human">I'm attending</label> -->
  <!--   </div> -->
    <!-- <div class="field"> -->
    <!--   <label>Are you attending?</label> -->
    <!--   <input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label> -->
    <!--   <input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label> -->
    <!-- </div> -->
    <!-- <ul class="actions"> -->
    <!--   <li><a href="#" class="button">Submit</a></li> -->
    <!-- </ul> -->
  <!-- </form> -->
  <!-- <hr /> -->
  <footer>
    <div id="rating" class="center"></div>
    <ul class="icons">
      <li><a href="#" class="fa-twitter">Twitter</a></li>
      <li><a href="#" class="fa-instagram">Instagram</a></li>
      <li><a href="#" class="fa-facebook">Facebook</a></li>
    </ul>
  </footer>
</section>

<script type="text/javascript">
  $(document).on('ready page:load', function() {
    $(".nopacity").animate({opacity: 0.95}, 150);

    $("#rating").rateYo({
      starWidth: "50px",
      rating: <%= @restaurant.average_rating %>,
      ratedFill: "#F0CE4E",
      readOnly: true
    });
  });
</script>
