<h1 class="restaurant-title"><%= @restaurant.title %></h1>

<p class="bold">Rating:</p> 
<p class="restaurant-rating"><%= @restaurant.average_rating %> from <%= @restaurant.ratings.size %> users</p>
<p class="bold">Description</p>
<p class="restaurant-description"><%= @restaurant.description %></p>
<p class="bold">Address</p>
<p class="restaurant-address"><%= @restaurant.address %></p>
