<section id="main" class="nopacity">
  <header>
    <span class="avatar"><%= image_tag('thai-food.jpg') %></span>
    <h1><%= @restaurant.title %></h1>

    <% unless @restaurant.description.blank? %>
      <p><%= @restaurant.description %></p>
    <% end %>

    <p><%= @restaurant.address %></p>

    <% unless @restaurant.phone_number.blank? %>
      <p><%= @restaurant.phone_number %></p>
    <% end %>
  </header>

  <footer>
    <div id="rating" class="center"></div>
    <ul class="icons">
      <li><a href="/" class="fa-home">Home</a></li>
      <li><a href="/restaurants" class="fa-list">Restaurants</a></li>
      <li><%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "fa-edit" %></li>
    </ul>
  </footer>
</section>

<script type="text/javascript">
  $(document).on('ready page:load', function() {
    $(".nopacity").animate({opacity: 0.95}, 100);

    $("#rating").rateYo({
      starWidth: "50px",
      rating: <%= @restaurant.average_rating %>,
      ratedFill: "#F0CE4E",
      readOnly: true
    });
  });
</script>
